@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    max-width: 1290px !important;
    margin: 0 auto;
    padding: 0;
}
body {
    font-family: "Poppins", sans-serif !important;
}
.padding {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

@media (min-width: 576px) {
    .padding {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
}

@media (min-width: 992px) {
    .padding {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}
/* css modal */
.my-custom-modal-header {
    background-color: #228be6;
}
.my-custom-modal-title {
    font-size: 16px;
    color: #ffff;
}
.my-custom-modal-body {
    padding: 15px;
}

/* css cho modal khi thanh toán thành công */
.custom-modal-header {
    background-color: #228be6;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}
/* Tùy chỉnh tiêu đề */
.custom-modal-title {
    text-align: center; /* Căn giữa tiêu đề */
    font-size: 20px;
    font-weight: bold;
}

/* Tùy chỉnh nội dung */
.custom-modal-body {
    margin-top: 5px;
    text-align: center;
    color: #161616;
    font-size: 16px;
}
