.container {
    // max-width: 1300px;
    margin: 0 auto;
    display: grid;
    // grid-template-columns: 1fr 1fr;
    border-radius: 10px;
    background-color: #f2f2f2;

    @media screen and (max-width: 1150px) {
        grid-template-columns: 1fr;
    }

    .bannerLeft {
        margin: 0 auto;
        position: relative;
        padding-bottom: 50px;
        @media screen and (max-width: 1024px) {
            width: 100%;
            padding: 50px 10px;
        }

        @media screen and (max-width: 768px) {
            padding: 30px 9px;
            width: 100%;
        }

        .hotline {
            display: flex;
            width: auto;
            position: absolute;
            right: 1px;
            color: #fff;
            font-size: 16px;
            top: 0;
            font-weight: 600;
            background-color: #a5886f;
            text-transform: uppercase;
            padding: 6px 15px;
        }

        .title {
            margin-top: 15px;
            // margin-left: 10px;
            h1 {
                font-size: 30px;
                font-weight: 600;
                color: #0a0a0b;
                line-height: 56px;

                font-style: normal;
                margin-bottom: 0.5em;
                @media screen and (max-width: 768px) {
                    font-size: 24px;
                    line-height: 40px;
                }
            }

            p {
                font-size: 15px;
                color: #000;
                margin-bottom: 1.3em;

                @media screen and (max-width: 768px) {
                    font-size: 13px;
                }
            }
        }
        .content {
            margin-left: 10px;
            form {
                display: flex;
                flex-direction: column;
                align-items: center;

                @media screen and (max-width: 768px) {
                    align-items: flex-start;
                }

                .input {
                    width: 300px;
                    margin-bottom: 10px;

                    @media screen and (max-width: 1024px) {
                        width: 300px;
                        margin-bottom: 10px;
                    }

                    @media screen and (max-width: 768px) {
                        width: 100%;
                        margin-bottom: 10px;
                    }
                    @media screen and (max-width: 450px) {
                        width: 375px;
                        margin-bottom: 10px;
                    }
                }
                .inputEmail {
                    width: 520px;
                    margin-bottom: 10px;

                    @media screen and (max-width: 1024px) {
                        width: 515px;
                    }

                    @media screen and (max-width: 768px) {
                        width: 437px;
                    }
                    @media screen and (max-width: 450px) {
                        width: 375px;
                    }
                }
                .textarea {
                    width: 515px;
                    margin-top: 10px;

                    @media screen and (max-width: 768px) {
                        width: 437px;
                    }
                    @media screen and (max-width: 450px) {
                        width: 375px;
                    }
                }
            }
        }
    }

    .bannerRight {
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: 1024px) {
            display: none;
        }
    }
}
